<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.aidebot">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--        <activity android:name=".Main3Activity"></activity>-->
        <activity android:name=".Inventory" />
        <activity android:name=".CurrentTreatments" />
        <activity android:name=".History" />
        <activity android:name=".NewMedicine" />
        <activity android:name=".IntroPrescription" />
        <activity android:name=".TakePic" />
        <activity android:name=".TextMed" />
        <activity
            android:name=".NewPrescription"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Information"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Calendar"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Medicines"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Main3Activity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>